In [18]:
import pandas as pd


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [19]:
df = pd.read_csv('hotel_bookings.csv')

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

```Вопрос 1
Из какого города прибывает наибольшее количество гостей (по данным обоих отелей суммарно)?
Дайте ответ названием страны из трех больших букв, также, как указано в данных```

In [20]:
# смотрим сколько отелей
df.hotel.value_counts() # действительно всего два отеля

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [22]:
# не знаю где в этой таблице искать города, поэтому предполагаю что авторы ошиблись и надо смотреть из какой страны
print(df.country.value_counts()) # выводи сколько записей 

# Ответ PRT

# а теперь посчитаем гостей
df = pd.read_csv('hotel_bookings.csv')
df['total_guests'] = df['adults'] + df['children']
countries = df.groupby(by='country')
display(countries.total_guests.sum())       # тоже PRT

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
USA     2097
CHE     1730
CN      1279
AUT     1263
SWE     1024
CHN      999
POL      919
ISR      669
RUS      632
NOR      607
ROU      500
FIN      447
DNK      435
AUS      426
AGO      362
LUX      287
MAR      259
TUR      248
HUN      230
ARG      214
JPN      197
CZE      171
IND      152
KOR      133
GRC      128
DZA      103
SRB      101
HRV      100
MEX       85
EST       83
IRN       83
LTU       81
ZAF       80
BGR       75
NZL       74
COL       71
UKR       68
MOZ       67
CHL       65
SVK       65
THA       59
SVN       57
ISL       57
LVA       55
ARE       51
CYP       51
TWN       51
SAU       48
PHL       40
TUN       39
SGP       39
IDN       35
NGA       34
EGY       32
URY       32
LBN       31
PER       29
HKG       29
MYS       28
ECU       27
VEN       26
BLR       26
CPV       24
GEO       22
JOR       21
KAZ       19
CRI       19
GIB       18
MLT       18
OMN       18
AZE       17
KWT       16
MAC       16
QAT       15
IRQ       14
DOM       14
PAK       14
BIH       13
MDV       12
BGD       12
ALB       12
PRI       12
SEN       11
CMR       10
MKD       10
BOL       10
PAN        9
GNB        9
TJK        9
VNM        8
CUB        8
ARM        8
JEY        8
LBY        8
AND        7
MUS        7
LKA        7
CIV        6
JAM        6
KEN        6
FRO        5
MNE        5
TZA        5
BHR        5
CAF        5
SUR        5
PRY        4
BRB        4
GTM        4
UZB        4
MCO        4
GAB        4
GHA        4
ZWE        4
ETH        3
TMP        3
LIE        3
GGY        3
SYR        3
BEN        3
GLP        2
SLV        2
ATA        2
MYT        2
ABW        2
KHM        2
LAO        2
STP        2
ZMB        2
MWI        2
IMN        2
COM        2
TGO        2
UGA        2
KNA        2
RWA        2
SYC        2
KIR        1
SDN        1
NCL        1
AIA        1
ASM        1
FJI        1
ATF        1
LCA        1
GUY        1
PYF        1
DMA        1
SLE        1
MRT        1
NIC        1
BDI        1
PLW        1
MLI        1
CYM        1
BFA        1
MDG        1
MMR        1
NPL        1
BHS        1
UMI        1
SMR        1
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: country, dtype: int64

country
ABW        5.0
AGO      647.0
AIA        4.0
ALB       21.0
AND       19.0
ARE      113.0
ARG      460.0
ARM       18.0
ASM        2.0
ATA        2.0
ATF        2.0
AUS      862.0
AUT     2520.0
AZE       43.0
BDI        2.0
BEL     4899.0
BEN        6.0
BFA        2.0
BGD       31.0
BGR      146.0
BHR       12.0
BHS        2.0
BIH       21.0
BLR       42.0
BOL       18.0
BRA     4843.0
BRB        4.0
BWA        3.0
CAF        7.0
CHE     3637.0
CHL      139.0
CHN     2021.0
CIV       11.0
CMR       21.0
CN      2632.0
COL      153.0
COM        7.0
CPV       43.0
CRI       37.0
CUB       13.0
CYM        2.0
CYP       83.0
CZE      324.0
DEU    14180.0
DJI        4.0
DMA        2.0
DNK      933.0
DOM       35.0
DZA      179.0
ECU       57.0
EGY       55.0
ESP    18027.0
EST      174.0
ETH        6.0
FIN      905.0
FJI        4.0
FRA    21502.0
FRO       15.0
GAB        7.0
GBR    24476.0
GEO       47.0
GGY        5.0
GHA        8.0
GIB       40.0
GLP        6.0
GNB       11.0
GRC      224.0
GTM        9.0
GUY        1.0
HKG       57.0
HND        2.0
HRV      200.0
HUN      465.0
IDN       69.0
IMN        5.0
IND      333.0
IRL     6885.0
IRN      171.0
IRQ       23.0
ISL      110.0
ISR     1348.0
ITA     7840.0
JAM       14.0
JEY       19.0
JOR       39.0
JPN      377.0
KAZ       34.0
KEN       15.0
KHM        4.0
KIR        1.0
KNA        3.0
KOR      263.0
KWT       34.0
LAO        4.0
LBN       58.0
LBY       10.0
LCA        2.0
LIE        6.0
LKA       10.0
LTU      158.0
LUX      619.0
LVA      112.0
MAC       27.0
MAR      567.0
MCO        8.0
MDG        2.0
MDV       26.0
MEX      160.0
MKD       15.0
MLI        2.0
MLT       33.0
MMR        2.0
MNE       10.0
MOZ      125.0
MRT        2.0
MUS       13.0
MWI        4.0
MYS       57.0
MYT        6.0
NAM        2.0
NCL        2.0
NGA       67.0
NIC        3.0
NLD     4223.0
NOR     1320.0
NPL        2.0
NZL      141.0
OMN       41.0
PAK       29.0
PAN       19.0
PER       51.0
PHL       87.0
PLW        2.0
POL     1947.0
PRI       18.0
PRT    89590.0
PRY        8.0
PYF        2.0
QAT       35.0
ROU     1048.0
RUS     1301.0
RWA        3.0
SAU       98.0
SDN        2.0
SEN       23.0
SGP       75.0
SLE        2.0
SLV        5.0
SMR        2.0
SRB      141.0
STP        4.0
SUR       12.0
SVK      130.0
SVN      109.0
SWE     2050.0
SYC        3.0
SYR        5.0
TGO        4.0
THA      128.0
TJK       18.0
TMP        9.0
TUN       82.0
TUR      482.0
TWN      100.0
TZA       10.0
UGA        3.0
UKR      134.0
UMI        2.0
URY       71.0
USA     4312.0
UZB        6.0
VEN       53.0
VGB        2.0
VNM       17.0
ZAF      160.0
ZMB        6.0
ZWE        8.0
Name: total_guests, dtype: float64


### Вопрос 2

```
Какая цена за одну ночь в каждом из отелей?

Ответ необходимо дать вне зависимости от типа номера, включенного питания. 
Также обратите внимание, что платящими пользователями мы считаем только взрослых и детей, младенцев необходимо исключить из расчета.

Ответ необходимо дать в формате в одну строку: Resort Hotel: 00.00, City Hotel: 00.00
— цену необходимо указать с точностью до двух знаков после запятой
— разделение долей может быть через точку или запятую
— наименования отелей в указанном формате, двоеточие и запятая обязательны для автоматического расчета ответа 
```

In [52]:
# опять непонятно - надо считать стоимость среднюю стоимость одного номера на человека в ночь? 
# или просто стоимость номера в ночь?
# Судя по постановке задачи надо считать среднюю стоимость номера в ночь на человека

# поэтому посчитаю еще один столбец - в котором будет сумма деленная на колличество дней и пользователей




"""
Считаем используя: сумму adr, сумму adults, сумму children
Фильтруем: отель, adr > 0 

Я посчитала сначала отдельный столбик guests=adults+children. 
Потом взяла subset, где adr>0 и guests>0 —> adr_per_guest=adr/guests. 
Потом посчитала среднюю по отелям: df.groupby(‘hotel’)[‘adr_per_guest’].mean()


Считаем используя: только reservation_status


"""

df = pd.read_csv('hotel_bookings.csv')
df.sample(3)
df['total_guests'] = df['adults'] + df['children']  # всего гостей
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']    # всего ночей
# df['average_cost'] = df['adr'] / (df['total_nights'] * df['total_guests'])

# df.groupby(by='hotel').total_guests.sum()   # C: 154077 R: 79953
# df.groupby(by='hotel').total_nights.sum()   # C: 236256 R: 173001
# df.groupby(by='hotel').adr.sum()# C :8353803.24 R:3803814.36   / (df.groupby(by='hotel').total_guests.sum() * df.groupby(by='hotel').total_nights.sum())
# print(8353803.24 / (154077 * 236256))
df.groupby(by='hotel').adr.sum() / (df.groupby(by='hotel').total_guests.sum())

# Resort Hotel: 47.58, City Hotel: 54.22

hotel
City Hotel      54.218366
Resort Hotel    47.575630
dtype: float64

```ДЗ 7, Вопрос 2.
Считаем используя: сумму adr, сумму adults, сумму children
Фильтруем: отель, adr > 0 
```


#### Вопрос 3

```
В какой сезон в обоих отелях меньше всего посетителей?
Необходимо дать текстовый ответ по примеру (начиная со строчной буквы): весна, зима, лето или осень
```

In [6]:
hotel = pd.read_csv('hotel_bookings.csv')
hotel['guests'] = hotel['adults'] + hotel['children']
winter_condition = (hotel.arrival_date_month == 'December') | (hotel.arrival_date_month == 'January') | (hotel.arrival_date_month == 'February')
spring_condition = (hotel.arrival_date_month == 'March') | (hotel.arrival_date_month == 'April') | (hotel.arrival_date_month == 'May')
summer_condition = (hotel.arrival_date_month == 'June') | (hotel.arrival_date_month == 'July') | (hotel.arrival_date_month == 'August')
autumn_condition = (hotel.arrival_date_month == 'September') | (hotel.arrival_date_month == 'October') | (hotel.arrival_date_month == 'November')

print(f'зима: {hotel[winter_condition].guests.sum():g}')
    # 38834
print(f'весна: {hotel[spring_condition].guests.sum():g}')
  # 62706
print(f'лето: {hotel[summer_condition].guests.sum():g}')
  # 79462
print(f'осень: {hotel[autumn_condition].guests.sum():g}')
  # 53028

# Ответ: зима

зима: 38834
весна: 62706
лето: 79462
осень: 53028

#### Вопрос 4

```
Сколько ночей максимум остаются посетители в отеле Resort Hotel?
```

In [7]:
df = pd.read_csv('hotel_bookings.csv')


df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

df[df.hotel == 'Resort Hotel'][['stays_in_weekend_nights', 'stays_in_week_nights', 'total_nights']].describe().T

# Ответ: 69 Верно

                           count      mean       std  min  25%  50%  75%   max
stays_in_weekend_nights  40060.0  1.189815  1.147812  0.0  0.0  1.0  2.0  19.0
stays_in_week_nights     40060.0  3.128732  2.461329  0.0  1.0  3.0  5.0  50.0
total_nights             40060.0  4.318547  3.380273  0.0  2.0  3.0  7.0  69.0

```
ДЗ 7, Вопросы 4/5.
Считаем используя: stays_in_weekend_nights и stays_in_week_nights
Фильтруем: отель
```


#### Вопрос 5
```
Сколько ночей максимум остаются посетители в отеле City Hotel?
```

In [8]:

# display(df.sample(4))

df[df.hotel == 'City Hotel'][['stays_in_weekend_nights', 'stays_in_week_nights', 'total_nights']].describe().T

# Ответ: 57 Верно

                           count      mean       std  min  25%  50%  75%   max
stays_in_weekend_nights  79330.0  0.795185  0.885026  0.0  0.0  1.0  2.0  16.0
stays_in_week_nights     79330.0  2.182957  1.456416  0.0  1.0  2.0  3.0  41.0
total_nights             79330.0  2.978142  1.862937  0.0  2.0  3.0  4.0  57.0


#### Вопрос 6

```
Какой процент бронирований происходит online? (Online TA).

Ответ необходимо дать с точностью до одного знака.
```

In [9]:
df = pd.read_csv('hotel_bookings.csv')
display(df.sample(4))

n = len(df)
m = len(df[df.market_segment == 'Online TA'])
print(f"m / n [%] = {m / n * 100:3.1f} %")
# Ответ 47.3

               hotel  is_canceled  ...  reservation_status  reservation_status_date
102817    City Hotel            0  ...           Check-Out               2016-12-07
13155   Resort Hotel            1  ...            Canceled               2017-05-24
75612     City Hotel            1  ...            Canceled               2015-07-06
50907     City Hotel            0  ...           Check-Out               2016-05-15

[4 rows x 32 columns]

m / n [%] = 47.3 %

#### Вопрос 7

```
Какой процент отмен бронирований в отеле Resort Hotel?

Ответ необходимо дать целым числом.
```

In [53]:
df = pd.read_csv('hotel_bookings.csv')
display(df.sample(4))

#общее количество вхождений в Resort Hotel
n = len(
    df[df.hotel == 'Resort Hotel']
)
print(f"n = {n}")
m = len(
    df[(df.hotel == 'Resort Hotel') & (df.is_canceled == 1)]
)
print(f"m = {m}")
print(f"m / n [%] = {m/n*100:3.2g}")

# Ответ  27.763354967548675 или 28

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
76431,City Hotel,1,358,2015,October,41,10,1,1,2,0.0,0,BB,PRT,Groups,TA/TO,0,1,0,A,A,0,Non Refund,1.0,NaN,0,Transient,62.00,0,0,Canceled,2015-07-23
47545,City Hotel,0,60,2016,February,9,26,1,2,2,0.0,0,BB,ESP,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,83.30,0,1,Check-Out,2016-02-29
80176,City Hotel,0,41,2015,November,46,8,2,3,2,0.0,0,BB,FRA,Offline TA/TO,TA/TO,0,0,0,D,A,0,No Deposit,28.0,NaN,0,Group,60.00,0,1,Check-Out,2015-11-13
16529,Resort Hotel,0,67,2015,August,35,23,4,6,3,0.0,0,HB,PRT,Direct,Direct,0,0,0,D,D,0,No Deposit,NaN,NaN,0,Transient,146.95,0,2,Check-Out,2015-09-02

n = 40060
m = 11122
m / n [%] =  28

#### Вопрос 8
```
В какой сезон самое большое количество отмен в Resort Hotel?

Необходимо дать текстовый ответ: весна, зима, лето или осень
```

In [11]:
# фильруем по отелям и по тому где есть отмены
# содаю 4 фильтра по всем фременам года
# считаю количество вхождений под кадый из 4х фильтров времен года

df = pd.read_csv('hotel_bookings.csv')
hotel = df[(df.hotel == 'Resort Hotel') & (df.reservation_status == 'Canceled')]    
winter_condition = (hotel.arrival_date_month == 'December') | (hotel.arrival_date_month == 'January') | (hotel.arrival_date_month == 'February')
spring_condition = (hotel.arrival_date_month == 'March') | (hotel.arrival_date_month == 'April') | (hotel.arrival_date_month == 'May')
summer_condition = (hotel.arrival_date_month == 'June') | (hotel.arrival_date_month == 'July') | (hotel.arrival_date_month == 'August')
autumn_condition = (hotel.arrival_date_month == 'September') | (hotel.arrival_date_month == 'October') | (hotel.arrival_date_month == 'November')
winter_cancels = hotel[winter_condition]
spring_cancels = hotel[spring_condition]
summer_cancels = hotel[summer_condition]
autumn_cancels = hotel[autumn_condition]

print(f"""Отмены\nзима: {len(winter_cancels)}, весна: {len(spring_cancels)}, лето: {len(summer_cancels)}, осень: {len(autumn_cancels)}""")

# Ответ: лето (4016 отмены)

Отмены
зима: 1656, весна: 2767, лето: 4016, осень: 2392

#### Вопрос 9
```
В какой месяц было самое большое количество гостей в City Hotel?

Название месяца на русском языке со строчной буквы
```

In [55]:
# создаем подвыборку из отелей ==  City Hotel
# группируем значения по месяцам (агрегруем)

df = pd.read_csv('hotel_bookings.csv')
sub_city = df[df.hotel == 'City Hotel']
sub_city['guests'] = sub_city['adults'] + sub_city['children']

grouped = sub_city.groupby('arrival_date_month');
print(grouped.guests.sum());
# ответ - август - 19331 гостей (не считая младенцев)

# print(df.groupby(by='arrival_date_month').count())

arrival_date_month
April        15077.0
August       19331.0
December      8107.0
February      9345.0
January       6691.0
July         17168.0
June         15088.0
March        12302.0
May          15447.0
November      7502.0
October      14099.0
September    13920.0
Name: guests, dtype: float64

/tmp/ipykernel_43440/3478082792.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_city['guests'] = sub_city['adults'] + sub_city['children']

#### Вопрос 10

```
Какой процент бронирований с типом питания BB (Bed&Breakfast) был сделан в City Hotel за все время?

Ответ необходимо дать целым числом.
```

In [13]:
# считаем общее количество бронирований в City Hotel
# считаем количество бронирований в City Hotel с типом питания BB
# делим и получаем процент

city_hotel = df[df.hotel == 'City Hotel']
print(len(city_hotel))    # 79339 вхождений
city_hotel.head()
bb_meal = city_hotel[city_hotel.meal == 'BB']
print(len(bb_meal))    # 62305
percent = len(bb_meal) / len(city_hotel)
print(percent*100)      # 78.53901424429598
# Ответ 79

79330
62305
78.53901424429598


#### Вопрос 11  (не по дата-сету)
```
Андрей Озонов планирует заказать себе новые кроссовки и начать бегать. Вероятность того, что нужный товар доставят из магазина A, равна 0,85. Вероятность того, что этот товар доставят из магазина B, равна 0,90. Андрей Озонов заказал кроссовки сразу в обоих магазинах. Считая, что интернет-магазины работают независимо друг от друга, найдите вероятность того, что ни один магазин не доставит товар.

Ответ необходимо дать в процентах с точностью до одного знака.
```

In [14]:
p_a = 0.85
p_b = 0.9

(1-p_a) * (1-p_b)

# ответ 0.015 или 1.5%

0.015

#### Вопрос 12 (не по дата-сету)
```
В таблице нижепредставлены данные о товарообороте компаний в месяц. Необходимо определить: 

- средний размер месячного товарооборота на одну фирму
- моду и медиану месячного товарооборота
```

![123](pic1.png)

Таблица должна быть такая, иначе поиск всех значений мод и медиан вообще впринципе не представляю как произвести.

|№|Товарооборот в месяц, млн. р|Количество компаний|
|---|:---:|---:|
1 |  2.5 | 15 |
2 |  7.5 | 23 |
3 | 12.5 | 15 |
4 | 17.5 | 10 |
5 | 22.5 | 8 |


### Я был не пра с утверждением выше.

Есть формулы для определения значений интервального ряда.

https://math.semestr.ru/group/variations.php

In [15]:
import numpy as np
import statistics

a = [2.5 for i in range(15)]
a.extend([7.5 for i in range(23)])
a.extend([12.5 for i in range(15)])
a.extend([17.5 for i in range(10)])
a.extend([22.5 for i in range(8)])

print(f"mode = {statistics.mode(a)}")
print(f"median = {statistics.median(a)}")
print(f"mean = {statistics.mean(a):3.1f}")

# мода - самое часто встречающиеся значение - чаще всего встречается 23 раза значение от 5 до 10, среднее между ними 7.5

# медиана - значение посередине отсортированного датасета всего элементов 71, средний из них 36й, по порядку сначала идёт 15 по 2.5, затем 23 по 7.5 значений
# значит 36й элемент будет о значением 7.5

# среднее - расчитываем как среднеарифметическое от всех средних
mean = (15 * 2.5 + 23 * 7.5 + 15 * 12.5 + 10 * 17.5 + 8 * 22.5) / (15 + 23 + 15 + 10 + 8)
print(f"mean = {mean:3.1f}")

mode = 7.5
median = 7.5
mean = 10.6
mean = 10.6